/*
 ****** GLOBAL ******
 */
:root {
  /* CSS HEX */
  --purple-pizzazz: #ff47daff;
  --dark-sienna: #230903ff;
  --flax: #f4e285ff;
  --kombu-green: #273c2cff;
  --battleship-grey: #878e88ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Red Hat Mono", monospace;
}

body {
  background-color: var(--flax);
  color: var(--dark-sienna);
}
h1 {
  font-size: 2.8125em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2.1875em;
}
h4 {
  font-size: 1.75em;
}
h5 {
  font-size: 1.5625em;
}
h6 {
  font-size: 1.25em;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.8125em;
  }
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 2.1875em;
  }
  h5 {
    font-size: 1.75em;
  }
  h6 {
    font-size: 1.5625em;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 3.125em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.8125em;
  }
  h4 {
    font-size: 2.5em;
  }
  h5 {
    font-size: 2.1875em;
  }
  h6 {
    font-size: 1.75em;
  }
}

p {
  font-size: inherit;
}
img {
  display: block;
}

/*
****** Header ******
 */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
}
.header__logo {
  position: relative;
  margin: 0.625rem auto;
  max-width: 6.25rem;
  border-radius: 100%;
  align-self: center;
}
.header__nav {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.header__link {
  justify-self: center;
  align-self: center;
  padding: 0.625rem;
  text-decoration: none;
  color: var(--kombu-green);
}
.header__link:active {
  color: var(--purple-pizzazz);
}
@media only screen and (min-width: 768px) {
  .header__nav--md {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .header--lg {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.25rem;
  }
}

/*
****** Hero ******
 */
.hero {
  position: relative;
  background-image: url("/assets/images/hero-front-end-code.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-origin: content-box; */
  padding: 20% 0;
}
.hero__content {
  position: relative;
  background-color: rgba(255, 71, 218, 0.5);
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 0.625rem;
}

.hero__content--mb {
  margin-bottom: 1.25rem;
}

/* 
****** Metup Images ******
 */

.meetup-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding: 0.625rem 0;
}
.meetup-images__img-container {
  margin: 0.625rem;
}
.meetup-images__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .meetup-images {
    flex-flow: row wrap;
  }
  .meetup-images__img-container {
    max-height: 18.75rem;
    max-width: 18.75rem;
  }
}
